.lead {
    max-width: 984px;
    margin: 56px 0px 0;
    padding: 0 148px 0;
}

@media screen and (max-width: 1024px){
    .lead {
        max-width: 928px;
        padding: 0 48px 0;
    }
}


@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding: 0;
    }
}
