.lead__title {
  max-width: 720px;
  min-width: 288px;
  margin: 0 auto 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .lead__title {
		/* max-width: 370px; */
		font-size: calc(96px / 2);
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 40px;
  }
}


@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 284px;
    line-height: 44px;
    padding: 0 16px;
    margin: 0 auto 16px;
  }
}