.place {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 0 80px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
    .place {
      margin: 0 0 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
      margin: 0 0 50px;
    }
}
